{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}
{% block content %}
<p>EL MEJOR CUENTO DEL MUNDO<br>
    <br>
    En un lugar en la mancha, <br>
    donde el semen no mancha, <br>
    vivia Juan de Troya, <br>
    con sus 2 metros de polla<br>
    <br>
    Toc, toc<br>
    Ella: ¿Quien es? <br>
    Troya: Soy Juan de Troya, <br>
    vengo a meterte la polla <br>
    Ella: No puedo, tengo la regla !!! <br>
    Troya: Que regla ni que cSSojones,<br>
    te la voy a meter hasta los pulmones !!! <br>

{% endblock %}