{% extends "layout.html" %}
{% block title %}
Contact us
{% endblock %}
{% block content %}
<p>Si quieres ver este trabajo y otros  trabajos<br>
    <a href="https://gitlab.com/jishamu" target="_blank">gitlab.com/jishamu</a>
    <br>
    <br>
    En formato json
    <br>
    <a href="/api/data" target="_blank">/api/data</a>
</p>
{% endblock %}