{% extends "layout.html" %}
{% block title %}
Mostrar tablas del colegio
{% endblock %}
{% block content %}
<form method="post">
    <label for="nombre_tabla_label">Nombre tabla:</label>
    <input name="nombre_tabla" id="nombre_tabla" value="{{ nombre_tabla }}" required>
    <input type="submit" value="Mostrar tabla">
</form>

{% if tot_rows != 0 %}
<hr>

<div class="row">
    <span class="col-md-6" >
        NÃºmero total de filas de la tabla '{{ nombre_tabla }}': {{tot_rows}}
    </span>

    <span class="col-md-6 text-right">
        <a href="/anyadir_{{ nombre_tabla }}/">
            <input type="submit" class="btn btn-primary" onclick="this.blur();" value="AÃ±adir">
        </a>
    </span>
</div>

<hr>

<div>
    <div class="table-responsive">
        <table class="responsive-table table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                {% for column in list_columns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                    <th>
                        <img src="{{ url_for('static', filename='img/ic_edit_24px.svg') }}" title="Modificar">
                    </th>
                    <th>
                        <img src="{{ url_for('static', filename='img/ic_delete_24px.svg') }}" title="Borrar">
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="table-scroll">
    <div class="table-responsive">
        <table class="responsive-table table table-hover table-sm">
            <tbody>
            {% for row in rows %}
                <tr>
                {% for i in range(tot_columns) %}
                    <td> {{ row[i] }} </td>
                {% endfor %}
                    <td>
                        <a href="/api/modificar_registro_tabla/{{ nombre_tabla }}/{{ row[0] }}/">
                            <img src="{{ url_for('static', filename='img/ic_edit_24px.svg') }}" title="Modificar">
                        </a>
                    </td>
                    <td>
                        <a href="/api/borrar_registro_tabla/{{ nombre_tabla }}/{{ row[0] }}/">
                            <img src="{{ url_for('static', filename='img/ic_delete_24px.svg') }}" title="Borrar">
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="invisible">
                <tr>
                {% for column in list_columns %}
                    <th scope="col">{{ column }}</th>
                {% endfor %}
                    <th>
                        <img src="{{ url_for('static', filename='img/ic_edit_24px.svg') }}">
                    </th>
                    <th>
                        <img src="{{ url_for('static', filename='img/ic_delete_24px.svg') }}">
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endif %}

{% endblock %}